   @{
        ViewBag.Title = "Servicio Eléctrico Flash";
    }


<body id="page1">
<div class="main-bg">
  <div class="bg">
    <!--==============================header=================================-->
      <header>
          <div class="main">
              <div class="wrapper">
                  <h1><a href="index.html">Servicio Flash</a></h1>
                  <div class="fright">
                      <div class="indent"><span class="address">Calle Lerdo #38 Colonia Centro</span> <span class="phone">Tel:(627) 11 1 13 74</span> </div>
                  </div>
              </div>
              <nav>
                  <ul class="menu">
                      <li><a class="active" href="index. html">Home</a></li>
                      <li><a href="about.html">Nosotros</a></li>
                      <li><a href="maintenance.html">Mantenimiento </a></li>
                      <li><a href="repair.html">Reparación</a></li>
                      <li><a href="price.html">Presupuestos</a></li>
                      <li><a href="locations.html">Ubicación</a></li>

                  </ul>
              </nav>
              <div class="slider-wrapper">
                  <div class="slider">
                      <ul class="items">
                          <li>
                              <img src="~/Content/images/slider-img1.jpg" alt="" />
                          </li>
                          <li>
                              <img src="~/Content/images/slider-img2.jpg" alt="" />
                          </li>
                          <li>
                              <img src="~/Content/images/slider-img3.jpg" alt="" />
                          </li>
                      </ul>
                  </div>
                  <a class="prev" href="#">prev</a> <a class="next" href="#">next</a>
              </div>
          </div>
      </header>
    <!--==============================content================================-->
    <section id="content">
      <div class="main">
        <div class="container_12">
          <div class="wrapper p5">
            <article class="grid_4">
              <div class="wrapper">
                <figure class="img-indent"><img src="~/Content/images/page1-img1.png" alt=""></figure>
                <div class="extra-wrap">
                  <h4>Desempeño</h4>
                  <p class="p2">Es normal que tu vehículo tenga un mal funcionamiento con el paso del tiempo, por eso ofrecemos mantenimiento<strong> preventivo y correctivo.</strong></p>
                  <!--<a class="button" href="#">Read More</a>--> 
                </div>
              </div>
            </article>
            <article class="grid_4">
              <div class="wrapper">
                <figure class="img-indent"><img src="~/Content/images/page1-img2.png" alt=""></figure>
                  <div class="extra-wrap">
                      <h4>Frenos ABS</h4>
                      <p class="p2">Si en tu vehículo enciende la luz del <strong>ABS</strong>, tu sistema de frenos opera de manera convencional, corriendo el riezgo de derrapes sobre cualquier superficie.</p>
                      <!--<a class="button" href="#">Read More</a> -->
                  </div>
              </div>
            </article>
            <article class="grid_4">
              <div class="wrapper">
                <figure class="img-indent"><img src="~/Content/images/page1-img3.png" alt=""></figure>
                <div class="extra-wrap">
                  <h4>Verificación de fluidos</h4>
                  <p class="p2">Una de las causas principales de fallos en los vehículos, es la falta de atención sobre los fluidos. Nosotros ofrecemos una amplia revisión y recomendación de los mejore productos.</p>
                  <!--<a class="button" href="#">Read More</a> --> 
                </div>
              </div>
            </article>
          </div>
          <div class="container-bot">
            <div class="container-top">
              <div class="container">
                <div class="wrapper">
                  <article class="grid_8">
                    <!-- <div class="indent-left">
                      <h2></h2>
                      <p class="prev-indent-bot"><strong>Car Repair</strong> is one of free website templates created by TemplateMonster.com team. This website template is optimized for 1280X1024 screen resolution. It is also XHTML &amp; CSS valid. </p>
                      <p class="border-bot">This Car Repair Template goes with two packages – with PSD source files and without them. PSD source files are available for free for the registered members of TemplatesMonster.com. The basic package (without PSD source) is available for anyone without registration.</p>
                    </div>-->
                    <div class="wrapper">
                      <div class="grid_4 alpha">
                        <div class="indent-left">
                          <div class="maxheight indent-bot">
                            <h3>About Us</h3>
                            <p class="prev-indent-bot"><a class="link-1" href="#">Lorem ipsum dolor amet</a> conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                            <a class="link-1" href="#">Dolor amet conse ctetur</a> adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat ut enim ad. </div>
                          <a class="button" href="#">Read More</a> </div>
                      </div>
                      <div class="grid_4 omega">
                        <div class="indent-left2">
                          <div class="maxheight indent-bot">
                            <h3 class="p0">Nuestros servicios</h3>
                            <ul class="list-1">
                              <li><a href="#">Diagnóstico Completo por Computadora</a></li>
                              <li><a href="#">Afinaciones</a></li>
                              <li><a href="#">Problemas de consumo excesivo de gasolina</a></li>
                              <li><a href="#">Cambio de Aceite</a></li>
                              <li><a href="#">Reparación del sistema de enfriamiento</a></li>
                              <li><a href="#">Aire Acondicionado</a></li>
                              <li><a href="#">Revisión de Sistema Eléctrico</a></li>
                              <li><a href="#">Bombas de gasolina</a></li>
                            </ul>
                          </div>
                          <a class="button" href="#">Leer Más</a> </div>
                      </div>
                    </div>
                  </article>
                  <article class="grid_4">
                    <div class="indent-left2 indent-top">
                      <div class="box p4">
                        <div class="padding">
                          <div class="wrapper">
                            <figure class="img-indent"><img src="~/Content/images/page1-img4.png" alt=""></figure>
                            <div class="extra-wrap">
                              <h3 class="p0">Horario:</h3>
                            </div>
                          </div>
                          <p class="color-1 p0">Lunes - Viernes:<br /> 9:00 am - 1:00 pm y <br /> 3:00 pm - 7:00 pm</p>
                          <p class="color-1 p1">Sábados: 9:00 am - 3:00 pm</p>
                          </div>
                      </div>
                      <figure class="indent-bot">
                        <iframe width="260" height="202" src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDHz6_gqW2ot5QsxkSsG2I7wadxTSNFoYM&language=es&maptype=roadmap&markers=26.929802,-105.670382&sensor=false&size=605x250&zoom=15&visual_refresh=true"></iframe>
                      </figure>
                      <div class="indent-left">
                        <dl class="main-address">
                          <dt>Servicio Eléctrico Flash,<br>
                            Lerdo #38 Parral, Chihuahua</dt>
                          <dd><span>Telephone:</span> +52 (627) 11-8-14-09;</dd>
                          <dd><span>FAX:</span> +1 959 552 5963</dd>
                          <dd><span>E-mail:</span><a href="#">mail@demolink.org</a></dd>
                        </dl>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--==============================footer=================================-->
    <footer>
      <!--<div class="main"> <span>Copyright &copy; <a href="#">Servicioflash.com.mx</a> Todos los derechos reservados</span> Design by <a target="_blank" href="http://www.templatemonster.com/">TemplateMonster.com</a> </div>-->
    </footer>
  </div>
</div>
<script type="text/javascript">Cufon.now();</script>
<script type="text/javascript">
$(window).load(function () {
    $('.slider')._TMS({
        duration: 1000,
        easing: 'easeOutQuint',
        preset: 'simpleFade',
        slideshow: 7000,
        banners: false,
        pauseOnHover: true,
        pagination: false,
        pagNums: false,
        nextBu: '.next',
        prevBu: '.prev'
    });
});
</script>
</body>
